@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInDown {
	0% {
		transform: translateY(-1000%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes slideInFromLeftRhombus {
	0% {
		transform: translateX(-500%) skew(-0.785398rad);
	}
	90% {
		transform: translateX(-25%) skew(-0.785398rad);
	}
	100% {
		transform: translateX(0) skew(-0.785398rad);
	}
}

@keyframes slideInDownSidebar {
	0% {
		transform: translateY(-1000%);
		visibility: hidden;
	}

	100% {
		transform: translateY(0);
		visibility: visible;
	}
}

@keyframes flickerIn {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0.2;
	}
	15%,
	30% {
		opacity: 0.4;
	}
	40% {
		opacity: 0.05;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blink {
	49% {
		background-color: var(--text-pilot-code);
	}
	50% {
		background-color: transparent;
	}
	99% {
		background-color: transparent;
	}
}

@keyframes unhide {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

/* Some elements have been loaded with a dynamic "animate" class in their html.
   If this class is present then the animations will be enabled for those elements,
   otherwise the animations will be disabled.
*/

/* TODO: fix animations for Pilot.vue and Event.vue elements */

/* HEADER + SIDEBAR */
header[class*="animate"] {
	animation: slideInFromLeft 0.3s ease-out;
}

.sidebar-page[class*="animate"] #sidebar {
	display: flex;
	background-color: var(--primary-color);
	animation: slideInDownSidebar 0.3s ease-out 1.2s;
	animation-fill-mode: both;
}

[class*="animate"] .clipped-bottom-right {
	animation: flickerIn 0.5s ease 1.5s;
}

[class*="animate"] .title-container {
	transform: translateX(-5000%);
	animation: slideInFromLeft 0.3s ease-out 0.5s;
	animation-fill-mode: forwards;
}

[class*="animate"] .logo {
	transform: translateX(-5000%);
	animation: slideInFromLeft 0.3s ease-out 1s;
	animation-fill-mode: forwards;
}

[class*="animate"] .rhombus {
	transform: translateX(-200%) skew(-0.785398rad);
	animation: slideInFromLeftRhombus 0.3s ease-out 1s 1;
	animation-fill-mode: forwards;
}

header[class*="animate"] div video,
header[class*="animate"] div.location-info {
	animation: flickerIn 0.5s ease-in 1.5s 1;
	animation-fill-mode: forwards;
}
/* END HEADER + SIDEBAR */

/* VIEWS CONTENT */

/* all section-containers on main /status view */
[class*="animate"] section.section-container {
	/* the animation-delay for the StatusView section-containers is dynamically set in StatusView.vue */
	animation: flickerIn 0.5s ease;
	/* make sure the containers dont appear until the animation starts */
	animation-fill-mode: both;
}

/* section-containers on /pilots and /events views */
section.section-container[class*="animate"]#events-logs,
section.section-container[class*="animate"]#pilots {
	animation: flickerIn 0.8s ease;
	animation-fill-mode: both;
}

div.markdown {
	transition: height 0.5s ease-in-out;
}

.mission {
	transition: background-color 0.2s ease-in-out, padding-left 0.2s ease-in-out;
}

.pilot-wrapper:active .middle,
.pilot-wrapper.active .middle {
	transition: 0.5s ease;
}

/* END VIEWS CONTENT */
