@charset "utf-8";

/*-------------------------------------*/
/*--       Theme Customization       --*/
/*-------------------------------------*/

//Primary Colors
$primary: rgba(125, 187, 187, 1);
$secondary: rgba(23, 29, 30, 0.8);
$highlight-hover: rgba(255, 255, 255, 0.3);
$highlight-active: rgba(255, 255, 255, 0.1);

//Primary Text
$text-headers: rgba(0, 0, 0, 1);
$text-location: rgba(255, 255, 255, 0.87);

//Location Information
$location-separator: rgba(255, 255, 255, 0.24);

//Mission Pane
$text-mission-title: rgba(255, 255, 255, 0.67);
$text-mission-status: rgba(255, 255, 255, 0.87);
$mission-start: rgba(109, 109, 109, 1);
$mission-partial: rgba(88, 34, 102, 1);
$mission-success: rgba(34, 102, 98, 1);
$mission-failure: rgba(176, 45, 45, 1);

//Pilot Roster Text
$text-pilot-header: rgba(255, 255, 255, 0.67);
$text-pilot-value: rgba(255, 255, 255, 0.87);
$text-pilot-code: rgba(255, 255, 255, 0.47);

//Markdown (Current Assignment, Events Log, Pilot Biography)
$text-markdown-p: rgba(255, 255, 255, 0.87);
$text-markdown-h1: rgba(255, 255, 255, 0.67);
$text-markdown-h2: rgba(255, 255, 255, 0.87);

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&?family=Big+Shoulders+Display:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeftRhombus {
  0% {
    transform: translateX(-5000%) skew(-0.785398rad);
  }
  90% {
    transform: translateX(-25%) skew(-0.785398rad);
  }
  100% {
    transform: translateX(0) skew(-0.785398rad);
  }
}

@keyframes flickerIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.2;
  }
  15%,
  40% {
    opacity: 0.05;
  }
  30% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

*,
:after,
:before {
  box-sizing: content-box;
}

:root {
  background-color: $secondary;
}

body {
  overflow: hidden !important;
}

header {
  animation: 1s ease-out 1 slideInFromLeft;
  background-color: $secondary;
  border-color: $secondary;
  height: 96px;
  display: flex;
  align-items: center;
}

.title {
  transform: translateX(-100%);
  animation: 1s ease-out 1 slideInFromLeft;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  background-color: $primary;
  border-color: $primary;
  width: 700px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  column-gap: 1em;
  .title-container {
    display: flex;
    flex-direction: column;
  }

  #title-header {
    font-size: 32px;
    margin: 0%;
    align-self: center;
    font-family: "Big Shoulders Display", cursive;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }

  #title-subheader {
    font-size: 32px;
    margin: 0%;
    align-self: center;
    font-family: "Big Shoulders Display", cursive;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    padding-left: 0.32em;
  }

  #subtitle-header {
    font-size: 24px;
    margin: 0%;
    align-self: center;
    font-family: "Big Shoulders Display", cursive;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  #subtitle-subheader {
    font-size: 24px;
    margin: 0%;
    align-self: center;
    font-family: "Titillium Web", cursive;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }
}

.logo {
  width: 50px;
  height: 80px;
  margin-left: 15px;
}

.title-row {
  width: 100%;
}

#title-first-line {
  border-bottom: 1px solid #000;
}

.rhombus {
  z-index: -1;
  transform: translateX(-5000%) skew(-0.785398rad);
  animation: 0.75s ease-out 1 slideInFromLeftRhombus;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  background-color: $primary;
  border-color: $primary;
  width: 40px;
  height: 100%;
  display: inline-flex;
  margin-left: -30px;
}

.rhombus-back {
  transform: skew(0.785398rad) !important;
  background-color: $primary;
  border-color: $primary;
  width: 40px;
  height: 52px;
  display: inline-block;
  position: relative;
  left: -25px;
  top: -30px;
}

header video {
  margin-left: 3.5%;
  width: 86px;
  height: 86px;
}

div .location-info {
  height: 90px;
  width: 550px;
  padding: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  color: $text-location;
}

header video,
div.location-info {
  animation: 0.5s ease 1 flickerIn;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.location-row {
  height: 40px;
  display: flex;
  h4 {
    margin: 0px;
    line-height: 1.5em;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .subtitle {
    font-size: 18px;
    margin: 0%;
    align-self: center;
    font-family: "Big Shoulders Display", cursive;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  div {
    padding: 0px 15px;
  }
  #planet {
    width: 315px;
  }

  #year {
    width: 75px;
    border-left: 1px solid $location-separator;
    padding-right: 0px;
    height: 100;
  }

  #gate {
    border-left: 1px solid $location-separator;
  }

  #ring {
    border-left: 1px solid $highlight-hover;
    padding-right: 0px;
  }
}

#missions,
#events,
#pilots {
  animation: 0.5s ease 1 flickerIn;
  animation-delay: 2.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#events {
  animation-delay: 2.5s;
}

#pilots {
  animation-delay: 2.8s;
}

div .content-container {
  display: flex;
  flex-direction: row;
}

section.section-container {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

section .section-header {
  background-color: $primary;
  border-color: $primary;
  height: 52px;
  display: inline-flex;
  gap: 15px;
  padding-left: 16px;

  img {
    width: 36px;
    height: 36px;
    align-self: center;
  }

  h1 {
    font-size: 26px;
    margin: 0%;
    align-self: center;
    font-family: "Big Shoulders Display", cursive;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.section-content-container {
  height: 666px;
  background: $secondary;
  border: 1px solid $primary;
  margin-top: -1px;
  z-index: 0;

  h3 {
    color: $primary;
    font-size: 18px;
    padding: 1em;
    padding-bottom: 0px;
    margin: 0%;
    margin-bottom: 0.5em;
    align-self: center;
    font-family: "Big Shoulders Display", cursive;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  ::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: none; /* color of the tracking area */
  }

  ::-webkit-scrollbar-thumb {
    background-color: $primary; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid $secondary;
    margin: 3px; /* creates padding around scroll thumb */
  }
}

.mission-list-container {
  height: 180px;
  overflow-y: scroll;
}

.clipped-medium-backward {
  clip-path: polygon(0 0, calc(100% - 52px) 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0, calc(100% - 52px) 0, 100% 100%, 0% 100%);
}

.clipped-medium-backward-pilot {
  width: 452px;
  clip-path: polygon(0 0, 400px 0, 452px 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 400px 0, 452px 100%, 0% 100%);
}

.clipped-medium-backward-bio {
  width: 552px;
  clip-path: polygon(0 0, 500px 0, 552px 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 500px 0, 552px 100%, 0% 100%);
}

.clipped-x-large-forward {
  clip-path: polygon(100% 0, 100% calc(100% - 96px), calc(100% - 96px) 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(100% 0, 100% calc(100% - 96px), calc(100% - 96px) 100%, 0 100%, 0 0);
}

.mission {
  cursor: pointer;
  font-size: 16px;
  margin: 0%;
  margin-left: 1em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 0.75em;
  font-family: "Titillium Web", cursive;
  font-weight: 400;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease-in-out, padding-left 0.2s ease-in-out;
  border-radius: 3px;

  .name {
    flex-grow: 8;
  }
  h1 {
    margin: 0px;
    margin-bottom: 0.25em;
    line-height: 1.5em;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $text-mission-title;
  }

  h2 {
    font-size: 18px;
    margin: 0%;
    align-self: center;
    font-family: "Big Shoulders Display", cursive;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $text-mission-status;
  }

  .status {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    white-space: pre-line;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: right;
    border-radius: 3px;
    padding: 0.7em;
    width: 135px;
    color: $text-mission-status;
    filter: url(#round);
    clip-path: polygon(0 0, 45px 100%, 100% 100%, 100% 0%);
    -webkit-clip-path: polygon(0 0, 45px 100%, 100% 100%, 100% 0%);
    img {
      width: 24px;
      height: 24px;
      padding-left: 0.5em;
    }
  }

  .start {
    background-color: $mission-start;
  }

  .partial-success {
    background-color: $mission-partial;
  }

  .success {
    background-color: $mission-success;
  }

  .failure {
    background-color: $mission-failure;
  }
}

.mission.active {
  background-color: $highlight-active;
}

.mission:hover {
  background-color: $highlight-hover !important;
  padding-left: 1em;
}

.pilot-list-container {
  height: 666px;
  overflow-y: scroll;
}

#pilots .pilot {
  display: flex;
  flex-direction: row;
  padding: 1em;
  column-gap: 1em;
  height: 136px;
  border-bottom: none;
  z-index: 1;
  cursor: pointer;

  .pilot-loadout {
    width: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
  }

  .mech-loadout {
    width: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    text-align: right;
  }

  .pilot-portrait {
    width: 104px;
    height: 136px;
    object-fit: cover;
  }

  .mech-portrait {
    width: 104px;
    height: 136px;
    object-fit: cover;
  }

  h1 {
    margin: 0px;
    margin-bottom: 0.25em;
    line-height: 1.5em;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $text-pilot-header;
  }

  h2 {
    font-size: 18px;
    margin: 0%;
    margin-bottom: 0.25em;
    align-self: center;
    font-family: "Big Shoulders Display", cursive;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $text-pilot-value;
  }

  .code {
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    line-height: 1.25em;
    font-size: 11px;
    color: $text-pilot-code;
    flex-grow: 2;
  }
}

#pilots .pilot:last-child {
  border-bottom: none;
}

.middle {
  transition: 0.2s ease;
  position: absolute;
  text-align: center;
  height: 136px;
  background-color: $highlight-hover;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  width: 0px;
  margin-top: -153px;
  margin-left: 1em;
  z-index: -1;

  .text {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }
}

.pilot-wrapper {
  position: relative;
  border-bottom: 1px solid $primary;
}

.pilot-wrapper:last-child {
  border-bottom: none;
}

.pilot-wrapper:hover .middle {
  width: 757px;
}

.pilot-wrapper:active .middle,
.pilot-wrapper.active .middle {
  background-color: $highlight-active;
  transition: 0.5s ease;
}

.o-modal > div:nth-child(2) {
  position: absolute;
  left: 50px;
  top: 142px;
  display: flex;
  gap: 5em;
}

.pilot-modal {
  ::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: none; /* color of the tracking area */
  }

  ::-webkit-scrollbar-thumb {
    background-color: $primary; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid $secondary;
    margin: 3px; /* creates padding around scroll thumb */
  }

  .pilot-header-container {
    display: flex;
  }

  div .section-header {
    background-color: $primary;
    border-color: $primary;
    height: 52px;
    display: inline-flex;
    gap: 15px;
    padding-left: 16px;
    margin-top: -38px !important;
    h1 {
      font-size: 26px;
      margin: 0%;
      align-self: center;
      font-family: "Big Shoulders Display", cursive;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }

  .rhombus-back {
    transform: skew(0.785398rad) !important;
    background-color: $primary;
    border-color: $primary;
    width: 40px;
    height: 52px;
    display: inline-block;
    position: relative;
    left: -25px;
    top: -38px;
  }

  div.pilot {
    background-color: $secondary;
    border: 1px solid $primary;
    margin-top: -38px;
    width: 888px;
    height: 662px;

    div.markdown {
      height: 662px;
    }
  }
}

.pilot-modal.portrait {
  .pilot {
    width: 600px;
  }

  img.portrait {
    width: 600px;
    height: 662px;
    object-fit: cover;
  }

  .pilot-header-container {
    display: flex;
  }

  div .section-header {
    background-color: $primary;
    border-color: $primary;
    height: 52px;
    display: inline-flex;
    gap: 15px;
    padding-left: 16px;
    margin-top: -38px !important;
  }

  .rhombus-back {
    transform: skew(0.785398rad) !important;
    background-color: $primary;
    border-color: $primary;
    width: 40px;
    height: 52px;
    display: inline-block;
    position: relative;
    left: -25px;
    top: -38px;
  }
}

.o-modal__overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(10, 10, 10, 0.7);
}

footer {
  position: absolute;
  bottom: 0;
  right: 50px;
  opacity: 0.1;
  color: $text-location;
  transition: 2s ease-in-out;
  p {
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    line-height: 1.25em;
    font-size: 11px;
    color: $text-pilot-code;
    flex-grow: 2;
  }
  a {
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    line-height: 1.25em;
    font-size: 11px;
    color: $text-pilot-code;
    flex-grow: 2;
  }
}

footer:hover {
  opacity: 1;
}

/*================================================*/
/*======          Markdown Styling          ======*/
/*================================================*/

div.markdown {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 16px;
  margin: 0%;
  font-family: "Titillium Web", cursive;
  font-weight: 400;
  color: $text-markdown-p;
  border-bottom: 1px solid $primary;
  height: 350px;
  overflow-y: auto;
  transition: height 0.5s ease-in-out;

  p strong {
    color: $primary;
  }

  h1 {
    margin: 0px;
    margin-bottom: 0.25em;
    line-height: 1.5em;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $text-markdown-h1;
  }

  h2 {
    font-size: 18px;
    margin: 0%;
    margin-bottom: 1em;
    align-self: center;
    font-family: "Big Shoulders Display", cursive;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $text-markdown-h2;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    margin-bottom: 1em;
    list-style-image: url("../bullet.png");
  }

  ol{
    display: block;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    margin-bottom: 1em;
    li{
      margin-bottom:0.5em;
    }
  }
}

#missions .markdown {
  height: 350px;
}

#events .markdown {
  height: 95%;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: none;
}
