@import"https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;600;800&display=swap";
@import"https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap";
@import"https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&?family=Big+Shoulders+Display:wght@400;600;800&display=swap";
@import"https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap";
@import"https://fonts.googleapis.com/css2?family=Inconsolata&display=swap"